editorial:
  image: wcsrun
  hostname: editorial
  ports:
    - "5001:5001"
  command: bash -l -c "startupDynamic.sh editorial 5001"
  links:
    - delivery
delivery:
  image: wcsrun
  hostname: delivery
  ports:
    - "5002:5002"
  command: bash -l -c "startupDynamic.sh delivery 5002"
